@import 'tailwindcss';

@font-face {
  font-family: "Alpha Lyrae";
  src: url("@/assets/fonts/AlphaLyrae-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Public Sans";
  src: url("@/assets/fonts/PublicSans-VariableFont.ttf") format("truetype");
}

@theme {
  --color-brand: var(--brand);
  --color-foreground: var(--text-primary);
  --color-muted-foreground: var(--text-secondary);
  --color-line-primary: var(--stroke-primary);
  --color-line-secondary: var(--stroke-secondary);
  --color-fill: var(--fill);
  --color-background: var(--background);

  --font-alpha: 'Alpha Lyrae', sans-serif;
}

:root {
  --brand: oklch(0.5758 0.2424 283.97);
  --text-primary: oklch(0.202 0.0375 292.38);
  --text-secondary: oklch(0.4693 0.0467 292.41);
  --stroke-primary: oklch(0.6004 0.0213 295.57);
  --stroke-secondary: oklch(0.9423 0.0068 295.45);
  --fill: oklch(0.9857 0.0026 286.35);
  --background: oklch(1 0 0);
}

.dark {
  --brand: oklch(0.5758 0.2424 283.97);
  --text-primary: oklch(1 0 0);
  --text-secondary: oklch(0.8563 0.0152 294.42);
  --stroke-primary: oklch(0.6779 0.025 293.82);
  --stroke-secondary: oklch(0.3389 0.0175 294.62);
  --fill: oklch(0.2434 0.0133 291.94);
  --background: oklch(0.1873 0.0162 290.47);
}

body {
  font-family: 'Public Sans', 'Segoe UI', sans-serif;
}
